* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  align-items: stretch;
  height: 95px;
}

header ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  margin: 0 15px;
  animation: 0.4s;
  position: relative;
}

header ul li:hover a,
header ul li.active a {
  color: #0c7cec;
  font-weight: 700;
}
header ul li::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #0c7cec;
  position: absolute;
  bottom: -15px;
  left: 0;
  transition: width 0.3s ease;
}

header ul li:hover::after,
header ul li.active::after {
  width: 100%;
}

header a {
  text-decoration: none;
  color: #000;
}

.container-full {
  background-color: #000;
}

.bg-black {
  color: #fff;
  display: flex;
  align-items: center;
  height: 150px;
  border: 1px solid red;
}

/* MAIN */
#main-content {
  background-color: #000;
}

#main-content .container {
  display: flex;
  color: #fff;
  align-items: center;
  height: 120px;
}

#main-icon {
  background-color: #0c7cec;
}

#main-icon .container {
  text-transform: uppercase;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  align-items: center;
  padding: 30px 20px;
}

.card-img {
  width: 40px;
  margin-right: 15px;
}

.card-img img {
  width: 100%;
}
